In [2]:
import pandas as pd

In [3]:
m = pd.read_pickle('house_price_predictor.pkl')

In [4]:
m

LinearRegression()

In [5]:
inc = eval(input('Enter the income:'))
age = eval(input('Enter the house age'))
room = eval(input('Enter the number of rooms:'))
pop = eval(input('Enter the population'))

query = pd.DataFrame({'income':[inc],'housing_age':[age],'rooms':[room],'population':[pop]})

Enter the income: 500000
Enter the house age 5
Enter the number of rooms: 6
Enter the population 30000

In [6]:
query

   income  housing_age  rooms  population
0  500000            5      6       30000

In [7]:
round(m.predict(query)[0],2)

10193100.84

##OBFUSCATION